datasource:
    NoCloud:
        meta-data: |
            instance-id: l-eadfbe
        user-data: |
            #cloud-config
            runcmd: [ echo "it worked for installer.cfg!" > /tmp/example.txt ]